*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #202020;
}
#mysection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}
.heading{
    background-color: FF0095;
    padding: 25px 55px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 800;
    position: relative;
    top: 60px;
}
.main{
    background-color: white;
    max-width: 28rem;
    padding: 130px 30px 60px;
    border-radius: 10px;
    font-size: 22px;
}

/* mobile devices screen size */

@media screen and (min-width:320px){
    .main{
        margin: 0 0.8rem;
    }

}